$green-color: #329e5e;
$border-color: #ebebeb;
$black-color: #222;
$nav-color: #32a573;
$grey: #a9a9a8;
$black: #302f2d;
$blue: #013870;
$blue-text: #1e1666;
$pop: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;
$roman: 'Romanovsky-Regular';
$sans: 'Open Sans', sans-serif;
$futuro: 'Futura';
