/* @extend display-flex; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url(//db.onlinewebfonts.com/c/646e4a55622c5bba4a0fa5f1efb32566?family=Romanovsky-Regular);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import url(//db.onlinewebfonts.com/c/fd6e6c30c7d355528ba9428eea942445?family=Futura);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url(//db.onlinewebfonts.com/c/646e4a55622c5bba4a0fa5f1efb32566?family=Romanovsky-Regular);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import url(//db.onlinewebfonts.com/c/fd6e6c30c7d355528ba9428eea942445?family=Futura);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
display-flex, .signup-content, .form-row, .label-flex, .form-radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}

/* @extend list-type-ulli; */
list-type-ulli, .form ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

dd {
  margin: 0;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
  text-decoration: none;
  outline: none;
  color: inherit;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

ul li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a:focus,
a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
}

input,
select,
textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}

input[type=checkbox] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important;
}

input[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px transparent inset;
  -moz-box-shadow: 0 0 0 30px transparent inset;
  -webkit-box-shadow: 0 0 0 30px transparent inset;
  -o-box-shadow: 0 0 0 30px transparent inset;
  -ms-box-shadow: 0 0 0 30px transparent inset;
  background-color: transparent !important;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

.clear {
  clear: both;
}

.main {
  position: relative;
}

.form .signup-img {
  position: relative;
  width: 385px;
  margin-bottom: -8px;
}

.form .signup-form {
  width: 1015px;
  margin-top: -2px;
}

.form .signup-img-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.signup-content {
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.register-form {
  padding: 93px 115px 90px 80px;
  margin-bottom: -8px;
}

.form-row {
  margin: 0 -30px;
}

.form-row .form-group {
  width: 50%;
  padding: 0 30px;
}

.form .form-input,
.form .form-select,
.form .form-radio {
  margin-bottom: 23px;
}

.form .form-select {
  border: none;
  padding: 0;
  background-image: none;
}

.form label,
.form-group input {
  display: block;
  width: 100%;
}

.form label {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.form label.required {
  position: relative;
}

.form label.required:after {
  content: '*';
  margin-left: 2px;
  color: #b90000;
}

.form input,
.form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ebebeb;
  padding: 14px 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  font-size: 14px;
  font-family: 'Poppins';
}

.form input:focus,
.form textarea:focus {
  border: 1px solid #329e5e;
}

.label-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
}

.label-flex label {
  width: auto;
}

.form .form-link {
  font-size: 12px;
  color: #222;
  text-decoration: none;
  position: relative;
}

.form .form-link:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #d7d7d7;
  left: 0;
  bottom: 12px;
}

.form-radio {
  margin-bottom: 18px;
}

.form-radio input {
  width: auto;
  display: inline-block;
}

.radio-label {
  padding-right: 72px;
}

.form-radio-group {
  padding-bottom: 10px;
  padding-top: 12px;
}

.form-radio-item {
  position: relative;
  margin-right: 30px;
}

.form-radio-item label {
  font-weight: 500;
  padding-left: 30px;
  position: relative;
  z-index: 9;
  display: block;
  cursor: pointer;
  text-transform: none;
}

.check {
  display: inline-block;
  position: absolute;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  height: 18px;
  width: 18px;
  top: 2px;
  left: 0px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

.check:before {
  position: absolute;
  display: block;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  top: 2px;
  left: 2px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
}

input[type=radio]:checked ~ .check {
  border: 1px solid #329e5e;
}

input[type=radio]:checked ~ .check::before {
  background: #329e5e;
}

.form ul {
  background: 0 0;
  position: relative;
  z-index: 9;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}

.form ul li {
  padding: 13px 20px;
  z-index: 2;
  color: #222;
}

.form ul li:not(.init) {
  display: none;
  background: #fff;
  color: #222;
  padding: 5px 10px;
}

.form ul li:not(.init):hover,
.form ul li.selected:not(.init) {
  background: #329e5e;
  color: #fff;
}

.form li.init {
  cursor: pointer;
  position: relative;
}

.form li.init:after {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  font-size: 22px;
  color: #222;
  font-family: 'Material-Design-Iconic-Font';
  content: '\f2f2';
}

#slider-margin {
  height: 5px;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  background: #f8f8f8;
  border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  -webkit-border-radius: 2.5px;
  -o-border-radius: 2.5px;
  -ms-border-radius: 2.5px;
}

#slider-margin .noUi-connect {
  background: #329e5e;
}

#slider-margin .noUi-handle {
  width: 100px;
  height: 30px;
  top: -12px;
  background: #329e5e;
  box-shadow: 0px 3px 2.85px 0.15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 2.85px 0.15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 3px 2.85px 0.15px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 3px 2.85px 0.15px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 3px 2.85px 0.15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  outline: none;
  border: none;
  right: -50px;
}

#slider-margin .noUi-handle:after, #slider-margin .noUi-handle:before {
  background: transparent;
  height: 0px;
  width: 20px;
  top: -2px;
  font-size: 18px;
  outline: none;
}

#slider-margin .noUi-handle:before {
  font-family: 'Material-Design-Iconic-Font';
  color: #fff;
  content: '\f2fa';
  left: 10px;
}

#slider-margin .noUi-handle:after {
  font-family: 'Material-Design-Iconic-Font';
  color: #fff;
  content: '\f2fb';
  left: auto;
  right: -5px;
}

#slider-margin .noUi-handle .noUi-tooltip {
  bottom: 2px;
  border: none;
  background: transparent;
  font-weight: bold;
  color: #fff;
  padding: 0px;
}

.donate-us {
  margin-bottom: 93px;
  margin-top: 30px;
}

.donate-us label {
  margin-bottom: 32px;
}

.price_slider {
  position: relative;
}

.donate-value {
  position: absolute;
  top: -9px;
  left: 50%;
  z-index: 99;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.form-submit {
  text-align: right;
}

.submit {
  width: 150px;
  height: 50px;
  display: inline-block;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}

#reset {
  background: #fff;
  color: #999;
  border: 2px solid #ebebeb;
}

#reset:hover {
  border: 2px solid #329e5e;
  background: #329e5e;
  color: #fff;
}

#submit {
  background: #329e5e;
  color: #fff;
  margin-right: 25px;
}

#submit:hover {
  background-color: #267747;
}

.form-input {
  position: relative;
}

label.error {
  display: block;
  position: absolute;
  top: 0px;
  right: 0;
}

label.error:after {
  font-family: 'Material-Design-Iconic-Font';
  position: absolute;
  content: '\f1f8';
  right: 20px;
  top: 37px;
  font-size: 23px;
  color: #c70000;
}

input.error {
  border: 1px solid #c70000;
}

.select-list {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 47px;
}

.list-item {
  position: absolute;
  width: 100%;
  z-index: 99;
}

.form-text-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form-text-select .list-item {
  width: 120px;
}

.form-text-select .summ #sum::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
}

.form-text-select .summ #sum:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
}

.form-text-select .summ #sum::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
}

.form-text-select .summ #sum::placeholder {
  font-family: "Roboto", sans-serif;
}

.links {
  background-color: #013870;
  padding: 5px 0;
}

.links__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.links__mail a {
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
}

.links__mail a i {
  color: #ffbc13;
  font-size: 16px;
  margin-right: 5px;
}

.links__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.links__social p {
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-right: 5px;
}

.links__social a {
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.links__social a i {
  font-size: 16px;
  margin-right: 8px;
}

.header {
  background-color: #fff;
  height: 100vh;
  position: relative;
}

.shapeF {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.shapeS {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.shapeT {
  position: absolute;
  right: 0;
  top: -40px;
  z-index: 0;
}

.shapeFi {
  position: absolute;
  left: 0;
  bottom: 80px;
  z-index: 0;
}

.auth {
  position: absolute;
  right: 20px;
  bottom: 40px;
  z-index: 1;
}

section {
  background-color: #fff;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0;
}

.nav-logo {
  color: #013870;
}

.nav-logo div {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.nav-logo p {
  white-space: nowrap;
  font-size: 11px;
  font-family: "Romanovsky-Regular";
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav-menu__item {
  color: #013870;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu__item:not(:last-child) {
  margin-right: 35px;
}

.nav-menu__link {
  position: relative;
  padding-bottom: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}

.nav-menu__link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.2px;
  background-color: #ffbc13;
  display: block;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background-origin: border-box;
}

.nav-menu__link:hover {
  color: #ffbc13;
}

.nav-menu__link:hover::before {
  width: 100%;
}

.nav-person {
  color: #fff;
}

.content {
  -webkit-transform: translateY(160px);
          transform: translateY(160px);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__title {
  font-size: 42px;
  font-family: "Roboto", sans-serif;
  color: #013870;
}

.content__desc {
  font-size: 30px;
  font-family: "Romanovsky-Regular";
  color: #ffbc13;
}

.content__sub-title {
  font-size: 78px;
  font-family: "Poppins", sans-serif;
  line-height: 75px;
  color: #013870;
}

.content__join {
  padding: 10px 15px;
  background: #013870;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Romanovsky-Regular';
  display: inline-block;
  margin-top: 26px;
}

.way {
  padding: 65px 0;
  background-color: #fff;
}

.way__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.way__title {
  font-size: 17px;
  color: #1e1666;
  line-height: 23px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.way__sub-title {
  font-family: "Open Sans", sans-serif;
  line-height: 45px;
  letter-spacing: 0px;
  font-weight: 700;
  font-style: normal;
  color: #1e1666;
  font-size: 35px;
}

.way__title-text {
  color: #6a7c92;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  text-align: center;
  display: inline-block;
  margin: 30px 0;
}

.way__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.way__item {
  width: 32%;
  padding: 35px 10px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f8f8f8;
  border: 1px solid #ededed;
}

.way__auth {
  width: 50%;
}

.way__auth img {
  width: 100%;
}

.way__title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  color: #1e1666;
  margin-top: 15px;
}

.way__desc {
  color: #6a7c92;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  white-space: pre-line;
}

.want-study {
  padding-bottom: 65px;
}

.want-study__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
}

.want-study__auth {
  background: url(../images/front-view.jpg) no-repeat center center/cover;
}

.want-study__desc {
  background-color: #f5f3f0;
  padding: 40px 10px 30px 30px;
}

.want-study__title {
  font-size: 17px;
  color: #1e1666;
  line-height: 23px;
  letter-spacing: 0px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.want-study__sub-title {
  font-size: 29px;
  color: #1e1666;
  line-height: 36px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 15px 0 20px 0;
}

.want-study__list {
  margin: 0;
  padding: 0 0 0 20px;
  line-height: 27px;
}

.want-study__item {
  color: #333;
  font-weight: 400;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
}

.want-study__link {
  color: #fff;
  background-color: #2075be;
  padding: 10px 15px;
  border-radius: 50px;
  display: inline-block;
  margin-top: 10px;
}

.want-study__link:hover {
  color: #fff;
}

.short-us {
  padding: 65px 0;
  background-color: #fff;
}

.short-us__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.short-us__title {
  font-size: 17px;
  color: #1e1666;
  line-height: 23px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.short-us__sub-title {
  font-family: "Open Sans", sans-serif;
  line-height: 45px;
  letter-spacing: 0px;
  font-weight: 700;
  font-style: normal;
  color: #1e1666;
  font-size: 35px;
}

.short-us__title-text {
  color: #6a7c92;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  text-align: center;
  display: inline-block;
  margin: 30px 0;
}

.short-us__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.short-us__item {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #ededed;
}

.short-us__item:nth-child(2) {
  border: 1px solid #1e73be;
  background-color: #1e73be !important;
}

.short-us__text {
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 5px;
}

.short-us__auth {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
}

.short-us__auth:nth-child(2) {
  background-color: #fff;
}

.short-us__auth img {
  width: 50%;
}

.short-us__title {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  color: #1e1666;
  margin-top: 15px;
}

.short-us__desc {
  color: #6a7c92;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  white-space: pre-line;
}

.short-us__link {
  display: inline-block;
  margin: 15px 0px;
  background: #1e73be;
  padding: 12px 22px;
  border-radius: 50px;
  font-size: 14px;
  font-family: 'Open Sans';
  color: #fff;
}

.short-us__link:hover {
  color: #fff;
}

.why-we {
  padding: 65px 0 30px 0;
}

.why-we__title {
  font-size: 40px;
  color: #1e1666;
  line-height: 45px;
  text-align: center;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.why-we__desc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr 1fr)[1];
      grid-template-columns: repeat(1, 1fr 1fr);
  margin-top: 45px;
}

.why-we__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 50px;
  margin-bottom: 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 2fr;
      grid-template-columns: 0.2fr 2fr;
}

.why-we__auth {
  width: 120px;
}

.why-we__auth img {
  width: 100%;
}

.why-we__text {
  margin-left: 25px;
}

.why-we__text p {
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  letter-spacing: 0;
  font-weight: 500;
  color: #6a7c92;
  font-size: 17px;
}

.why-we__sub-text {
  font-size: 24px;
  line-height: 29px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #1e1666;
  margin-bottom: 20px;
}

.partners {
  padding: 65px 0;
}

.partners__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.partners__title {
  font-family: "Open Sans", sans-serif;
  line-height: 45px;
  letter-spacing: 0px;
  font-weight: 700;
  font-style: normal;
  color: #1e1666;
  font-size: 35px;
}

.partners__desc {
  color: #6a7c92;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  margin: 30px 0;
  font-weight: 500;
  line-height: 32px;
}

.partners__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.partners__item {
  padding: 20px 50px;
}

.partners__item:nth-child(odd) {
  background-color: #fafafa;
}

.partners__item:nth-child(even) {
  background-color: #f4f4f4;
}

.footer {
  padding: 65px 0 20px 0;
  background: #2c3e50;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#397eac), to(#2c3e50));
  background: linear-gradient(to right, #397eac, #2c3e50);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-link, .footer-security, .footer-call {
  width: 30%;
}

.footer-link .logo {
  color: #fff;
}

.footer-link .logo div {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.footer-link .logo p {
  white-space: nowrap;
  font-size: 11px;
  font-family: "Romanovsky-Regular";
}

.footer__list {
  margin-top: 25px;
}

.footer__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 15px;
}

.footer__list li i {
  margin-right: 15px;
}

.footer-security {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.footer-security__title {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-security__link {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-size: 15px;
  font-weight: 400;
  line-height: 35px;
}

.footer-security__link i {
  margin-right: 15px;
}

.footer-call__title {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-call__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-call__form input {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px rgba(255, 255, 255, 0.15) solid;
  outline: none;
  padding: 12px 15px;
  width: 100%;
  margin-bottom: 15px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.footer-call__form button {
  background-color: rgba(1, 56, 112, 0.6);
  border: 1px rgba(255, 255, 255, 0.15) solid;
  outline: none;
  padding: 12px 15px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.footer__footer p {
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.univer {
  padding: 65px 0;
}

.univer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.univer__title {
  font-family: "Open Sans", sans-serif;
  line-height: 45px;
  letter-spacing: 0px;
  font-weight: 700;
  font-style: normal;
  color: #1e1666;
  font-size: 35px;
}

.univer__sub-title {
  color: #6a7c92;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  margin: 30px 0;
  font-weight: 500;
  line-height: 32px;
}

.univer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.univer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.univer__item hr {
  width: 43%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 0;
}

.univer .author {
  width: 50%;
}

.univer .desc {
  width: 50%;
}

/* @extend display-flex; */
display-flex, .signup-content, .form-row, .label-flex, .form-radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}

/* @extend list-type-ulli; */
list-type-ulli, .form ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

dd {
  margin: 0;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
  text-decoration: none;
  outline: none;
  color: inherit;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

ul li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a:focus,
a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
}

input,
select,
textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}

input[type=checkbox] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important;
}

input[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px transparent inset;
  -moz-box-shadow: 0 0 0 30px transparent inset;
  -webkit-box-shadow: 0 0 0 30px transparent inset;
  -o-box-shadow: 0 0 0 30px transparent inset;
  -ms-box-shadow: 0 0 0 30px transparent inset;
  background-color: transparent !important;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

.clear {
  clear: both;
}

.main {
  position: relative;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .header .container {
    max-width: 100%;
  }
  .header .nav {
    padding: 5px 0;
  }
  .header .nav-logo {
    width: 50px;
  }
  .help-us {
    padding: 70px 0px 50px 0px;
  }
  .help-us .help-us__title {
    line-height: 35px;
    font-size: 35px;
  }
  .help-us .help-us__form {
    width: 100%;
  }
  .help-us .help-us__form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .help-us .help-us__search {
    width: 100%;
    height: 50px;
  }
  .help-us .help-us__submit {
    height: 50px;
    width: 50px;
  }
  .help-us .help-us__desc p {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
  }
  .donation-wrap {
    height: auto !important;
    padding: 45px 20px !important;
  }
  .donation__desc {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .donation__auth {
    position: relative !important;
    margin: 50px 0 20px 0;
  }
  .donation__title {
    margin-bottom: 0 !important;
    max-width: 100% !important;
    text-align: center !important;
  }
  .donation__auth {
    width: 100% !important;
  }
  .donation-group__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .donation-group__card {
    width: 100%;
  }
  .donation-group__img {
    width: 40%;
  }
  .donation-group__link {
    background-color: transparent;
    position: relative;
    height: auto;
    padding: 15px 0;
    opacity: 1;
    visibility: visible;
  }
  .donation-group__link .help {
    display: none;
  }
  .donation-group__link .more {
    background-color: #32a573;
  }
  .footer-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-desc {
    margin-right: 0;
    width: 100%;
    margin-bottom: 21px;
  }
  .footer-link {
    width: auto;
  }
  .card-desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card .medium,
  .card .small {
    width: 70%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 100%;
  }
  .donation-group__wrap {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .donation-group__card {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 30px;
  }
  .donation-group__auth {
    width: 50%;
  }
  .donation-group__img {
    width: 50%;
  }
  .donation-group__desc {
    position: absolute;
    right: 22px;
    top: 35px;
  }
  .donation-group__list {
    width: 43%;
    margin-top: 35px;
  }
  .donation-group__item {
    width: 100%;
    padding: 8px 0;
  }
  .donation-group__link {
    height: 100%;
    width: 50%;
  }
  .donation-group hr {
    margin: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    position: absolute;
    right: 244px;
    display: block;
    height: 1px;
    width: 30%;
    background-color: #302f2d;
  }
}

@media screen and (max-width: 576px) {
  .card .medium,
  .card .small {
    width: 100%;
  }
  .desc__text {
    margin-bottom: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
  .desc__content {
    overflow: visible !important;
  }
  .author-card__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .author-card__img, .author-card__desc {
    width: 100%;
    margin-bottom: 10px;
  }
  .author-fixed__fixed {
    position: relative;
    background-color: #f5f3f0;
  }
  .author-fixed__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .author-fixed__price {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 5px;
  }
  .author-fixed__price hr {
    background-color: #302f2d;
  }
  .author-fixed__btn {
    width: 100%;
    text-align: center;
  }
  .author-fixed__text h3 {
    color: #302f2d;
  }
  .author-fixed__text hr {
    display: block;
    margin: 8px 0;
  }
  .author-fixed__collected span,
  .author-fixed__needed span {
    color: #302f2d;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: calc(100% - 30px);
    max-width: 100%;
    margin: 0 auto;
  }
  .signup-img {
    display: none;
  }
  .signup-form {
    width: 100%;
  }
  .register-form {
    padding: 93px 80px 90px 80px;
  }
}

@media screen and (max-width: 992px) {
  .signup-content {
    width: 100%;
  }
  .form-radio-item {
    margin-right: 15px;
  }
  .register-form {
    padding: 93px 30px 90px 30px;
  }
}

@media screen and (max-width: 768px) {
  .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    margin: 0px;
  }
  .form-row .form-group {
    width: 100%;
    padding: 0 0px;
  }
}

@media screen and (max-width: 480px) {
  .submit {
    width: 100%;
  }
  #submit {
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .form-radio-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
  }
}

.title {
  font-family: "Roboto", sans-serif;
}

.modal-wrap {
  width: 100%;
  height: 100vh;
  z-index: 90;
  background: #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.modal-wrap__card {
  position: absolute;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 6px 24px -4px rgba(0, 0, 0, 0.07);
          box-shadow: 0 6px 24px -4px rgba(0, 0, 0, 0.07);
}

.modal-wrap img {
  width: 30%;
}

.modal-wrap__title {
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
  color: #90908e;
}

.modal-wrap form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-wrap form input {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: #302f2d;
  font-family: "Roboto", sans-serif;
}

.modal-wrap form input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.modal-wrap form input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.modal-wrap form input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.modal-wrap form input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.modal-wrap form button {
  border: none;
  outline: none;
  background: #45addf;
  margin-top: 10px;
  padding: 9px;
  border-radius: 5px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05rem;
}

@media screen and (max-width: 576px) {
  .modal-wrap__card {
    width: 250px;
  }
}

.modal-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about {
  font-family: 'Abel', sans-serif;
}

.about__card {
  background-color: #f9f9f9 !important;
  border: 1px solid #f0f0f0 !important;
  padding: 30px 40px 46px 40px;
  width: 400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.about__card h2 {
  color: #1e1666;
  font-size: 20px;
  margin: 15px 0;
}

.about__card p {
  color: #a9a9a8;
  font-size: 17px;
}

.about__card:not(:last-child) {
  margin-right: 20px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #1e1666;
}

.about__content-title {
  position: relative;
}

.about__content-title h2 {
  font-size: 20px;
}

.about__content-title h1 {
  font-size: 35px;
  font-weight: normal;
}

.about__content-title h1:before {
  content: '';
  width: 60px;
  height: 4px;
  background-color: #1e1666;
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.about__content-desc {
  text-align: left;
  margin-top: 120px;
}

.about__content-desc-left h1 {
  font-size: 30px;
}

.about__content-desc-left ul li {
  font-family: 'Open Sans';
  font-size: 17px;
  color: #6a7c92;
  line-height: 1.8;
}

.welcome {
  max-width: 100%;
  height: 240px;
  background: url(https://rosuniversitet.com/wp-content/uploads/2021/02/1253.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome h1 {
  color: #fff;
}

.values__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
}

.values__title h2 {
  font-size: 20px;
  color: #1e1666;
}

.values__title h1 {
  font-size: 30px;
}

.values__title h1:before {
  content: '';
  width: 60px;
  height: 4px;
  background-color: #1e1666;
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
/*# sourceMappingURL=main.css.map */